body{
  background-color: rgb(7, 7, 53);
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: border-box;
}

a{
  text-decoration: none;
  color: rgb(255, 251, 1);
}

img{
margin-bottom: 1rem;
}
.loginFrame{
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20vw;
  height: 20vh;
  padding: 2rem;
  border-radius: 0.6rem;
  background-color: rgb(119, 117, 8);
  
}

.loginFrame input{
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.loginFrame button{
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  box-shadow:1px 1px 1px 1px #888888;
  color: rgb(7, 7, 53);
}

.loginFrame button:hover{
  background-color: rgb(7, 7, 53);
  color: white;
  cursor: pointer;
  transition: 150ms;
}

.login{
  margin-top: 5rem;
}

p{
  margin-top: 5rem;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  margin-top: -5rem;
  margin-bottom: 5rem;
}

.menu-items{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 20rem;
}

.menu-items p:hover{
  text-decoration: underline;
  color: rgb(255, 251, 1);
  transition: 150ms;
  cursor: pointer;
}

